<ion-header>
  <ion-toolbar>
    <ion-title>
      新产品
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="block" fill="outline">
    重置当前产品记录
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>新产品信息</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item lines="none">
        <video id="video" width="100%" height="200" style="border: 1px solid rgb(247, 234, 234)"></video>
      </ion-item>
      
      <ion-button expand="block">
        <ion-icon name="barcode-sharp"></ion-icon>
      </ion-button>
      <ion-item>
        <ion-label position="stacked">完整条码</ion-label>
        <ion-input type="number" [(ngModel)]="handle">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">产品英文名称</ion-label>
        <ion-input [(ngModel)]="ENname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">产品中文名称</ion-label>
        <ion-input [(ngModel)]="CNname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">价格</ion-label>
        <ion-input type="number" placeholder="0.00" [(ngModel)]="OnlinePrice">$ </ion-input>
      </ion-item>

      <ion-list>
        <ion-list-header>
          <ion-label>
            选择部门
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>商品部门</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="Department">
            <ion-select-option value="Grocery">Grocery</ion-select-option>
            <ion-select-option value="Frozen">Frozen</ion-select-option>
            <ion-select-option value="Fruit">Fruit</ion-select-option>
            <ion-select-option value="Houseware">Houseware</ion-select-option>
            <ion-select-option value="Meat">Meat</ion-select-option>
            <ion-select-option value="Vegetable">Vegetable</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-radio-group [(ngModel)]="SoldByOnline">
        <ion-list-header>
          <ion-label>在线售卖单位</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>EA/每件</ion-label>
          <ion-radio slot="start" value="EA"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>LB/每磅</ion-label>
          <ion-radio slot="start" value="LB"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-radio-group [(ngModel)]="SoldByInstore">
        <ion-list-header>
          <ion-label>线下结算单位</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>EA/每件</ion-label>
          <ion-radio slot="start" value="EA"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>LB/每磅</ion-label>
          <ion-radio slot="start" value="LB"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item *ngIf="soldByEA()">
        <ion-label position="stacked">规格</ion-label>
        <ion-input [(ngModel)]="Specs"></ion-input>
      </ion-item>

      <ion-item *ngIf="!soldByEA()">
        <ion-label position="stacked">大约重量</ion-label>
        <ion-input [(ngModel)]="Weight"></ion-input>
      </ion-item>

      <ion-radio-group [(ngModel)]="VariantTaxable">
        <ion-list-header>
          <ion-label>是否有税</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>无</ion-label>
          <ion-radio slot="start" [value]="false"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>有</ion-label>
          <ion-radio slot="start" [value]="true"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-button expand="block" (click)="AddProduct()">
        添加
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>