<ion-header>
  <ion-toolbar>
    <ion-title>条码搜索</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-searchbar showCancelButton="focus" placeholder="输入关键字/词" animated ></ion-searchbar>
      </ion-item>
      <ion-button (click)="getProduct()">搜索</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>搜索结果</ion-label>
        <ion-card-header>
          <ion-card-title>中文名</ion-card-title>
          <ion-card-subtitle>英文名</ion-card-subtitle>
        </ion-card-header>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>